
header nav section a img[src="imagenes/titulo+empresa.png"]{
    filter:invert(100%);
}
header nav section a img[src="imagenes/logo+empresa.png"]{
    filter: brightness(200%);
    filter:contrast(100%);

}

.Boton{
    border:1px solid #FFFFFF;
    color:#FFFFFF !important;
    border-radius:5px;
    transition:0.1s !important;
} 
.Boton:hover{
    box-shadow:0px 0px 5px #FFFFFF;
}
.Boton:active{
    background:rgba(255, 255, 255, 0.2);
}


